/* Write your global styles here, in PostCSS syntax */
@custom-media --xs (min-width: 380px); /* not used yet */
@custom-media --sm (min-width: 560px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1200px); /* not used yet */
@custom-media --xxl (min-width: 1400px); /* not used yet */
@custom-media --xxxl (min-width: 1600px);
@custom-media --xxxxl (min-width: 1920px); /* not used yet */
